# Compiler files
cache/
out/

# Flattened source code
build/

# Other
other/
script/ReproduceGetPastTotalSupplyBug.s.sol
security/

# Ignores development broadcast logs
# broadcast/
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

# Account
.auth.c3caller

# Reference source files
refs/
src/VotingEscrowOld.sol

# Bash scripts
flatten.sh

# Logs
bug-logs.txt

# ABI
abi/

# balances
all_finalized.json
all_finalized_wei.json
all_testnet.json
all_testnet_wei.json

# Soldeer
/dependencies
