[profile.default]
 src = "src"
 out = "out"
 libs = ["lib", "dependencies"]
 solc = "0.8.27"
 via_ir = true
 optimizer_runs = 200
 evm_version = "cancun"
 no_match_coverage = "^(build/|script/|test/|dependencies/)"

 remappings = [
     "@c3caller/=dependencies/@c3caller-v0.1/src/",
     "@openzeppelin/contracts-upgradeable/=dependencies/@openzeppelin-contracts-upgradeable-5.4.0/",
     "@openzeppelin/contracts/=dependencies/@openzeppelin-contracts-5.4.0/",
     "forge-std/=dependencies/forge-std-1.11.0/src/"
 ]

[lint]
 lint_on_build = false

[rpc_endpoints]
 arbitrum-sepolia-rpc-url = "${ARBITRUM_SEPOLIA_RPC_URL}"

[etherscan]
 arbitrum-sepolia-key = { url = "https://api.etherscan.io/v2/api?chainid=421614", key = "${ETHERSCAN_API_KEY}" }

[invariant]
 runs = 256
 depth = 500
 show_progress = true

[dependencies]
forge-std = "1.11.0"
"@openzeppelin-contracts" = "5.4.0"
"@openzeppelin-contracts-upgradeable" = "5.4.0"
"@c3caller" = { version = "v0.1", git = "https://github.com/ContinuumDAO/c3caller.git", branch = "main", rev = "5e4bceeb1e6d8e0713d403489f7e61414c503d9f" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
